<%- include ('../partials/_header.ejs')  %> 
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 lead">
      <img src="https://cdn3.iconfinder.com/data/icons/book-shop-category-ouline/512/Book_Shop_Category-10-512.png" alt="" style="height: 2.5em; width: 2.5em;" class="img-thumbnail rounded-circle">
      Book Store
    </span>
    <span>
      <% if(typeof user === 'undefined'){ %>
          <a href="/users/login" class="btn btn-sm btn-success">Login</a>
      <% } else{%>
          <span class="lead mr-2 capital user-name-home"><%= user.name  %> </span>
          <a href="/users/dashboard" class="btn btn-sm btn-success d-inline">Go to Dashboard</a>
      <% } %>
      <% if(typeof user !== 'undefined' && user.role === 'admin'){ %>    
        <a href="/books/new" class="btn btn-sm btn-primary">Add a New Book</a>
      <% } %> 
    </span>
  </nav>
  <div class="container">
    <%- include ('../partials/_msg.ejs')  %> 
    <div class="jumbotron text-center my-1">
        <h1 class="display-4 ml-2">Book Store App</h1>
        <p class="lead ml-2">View our hand-picked Tech Books from all over World</p>
    </div>
    <br>
    <div class="container mb-4 home-books">
      <% books.forEach(book => { %>
        <div class="card" style="width: 18rem; position: relative;">
          <img  style="height: 15rem;" src="<%= book.image  %> " class="card-img-top" alt="...">
          <div class="card-body" style="background-color:#efe3d4">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-text"><%= book.description.substr(0, 100)%>.... </p>
            <h3 class="lead text-danger p-0">Price: ₹ <%= book.price %></h3>
            <hr class="my-2">
            <a href="/books/view/<%= book._id %> " class="btn btn-primary">Book Details</a>
          </div>
      </div>
     <% }) %> 
    </div>
  </div>
<%- include ('../partials/_footer.ejs') %> 